<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="table-wrapper-scroll-y">
    <table *ngIf="posts" class="table table-hover  table-striped">
      <thead>
      <th class="w-25">id</th>
      <th class="w-auto">title</th>
      <th class="w-auto">body</th>
      <th class="w-25">action</th>
      </thead>
      <tr
        *ngFor="let post of posts"
      >
        <td>{{post.id}}</td>
        <td>
          <ng-container *ngIf="!onEditMode || currentId !== post.id">
            <span (click)='modeEditProfile(post.id, post)'> {{post.title}}</span>
          </ng-container>
          <ng-container *ngIf="onEditMode && currentId === post.id">
            <input [(ngModel)]="post.title"
                   (blur)='modeEditProfile(post.id, post, 1)'
                   placeholder="Title"
                   maxlength="40"
                   #title
            />
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="!onEditMode || currentId !== post.id">
            <span (click)='modeEditProfile(post.id, post)'>{{post.body}}</span>
          </ng-container>
          <ng-container *ngIf="onEditMode && currentId === post.id">
            <input [(ngModel)]="post.body"
                   (blur)='modeEditProfile(post.id, post, 2)'
                   placeholder="Body"
                   maxlength="40"
                   #body
            />
          </ng-container>
        <td (click)="deletePost(post.id)"><span>X</span></td>
      </tr>
    </table>
  </div>
  <div class="form">
    <div>
      <label>Post title:
        <input class="form-control" #postTitle/>
      </label>
      <label>Post body:
        <input class="form-control" #postBody/>
      </label>
      <div class="btn-wrap">
        <button
          class="btn btn-primary"
          (click)="add(postTitle.value, postBody.value ); postTitle.value=''; postBody.value=''"
        >
          add post
        </button>
      </div>
    </div>
  </div>
</div>
