/* You can add global styles to this file, and also import other style files */
td span {
  cursor: pointer;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.btn-wrap {
  display: flex;
  justify-content: center;
}
